:root {
    --primary_color: #00d587;
    --hover_color:#00b271;
}

*{
    margin: 0 0;
    padding: 0 0;
}

/* Font Family Declarations */
@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Thin\ Oblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Light\ Oblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Book\ Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Bold\ Oblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kamerik 205';
    src: url('assets/fonts/Kamerik\ 205\ Heavy\ Oblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body {
    font-family: 'Kamerik 205', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3a3a3a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 450px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;    
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    background-color: #555;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary_color);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

input:focus {
    outline: none;
    border-color: var(--primary_color);
}


.btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary_color);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--hover_color);
}

.receipt-container {
    display: none;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.receipt-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.receipt-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.receipt-item span {
    font-weight: bold;
}

.receipt-total {
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    color: var(--primary_color);
}

.receipt-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}